*/settings/local.py
*.py[co]
*.sw[po]
*.egg*
.coverage
pip-log.txt
docs/_gh-pages
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.mo
*.log
*.db
.vagrant
*.sublime-project
*.sublime-workspace
public/*
.sass-cache/
bower_components/
node_modules/
.tox
