include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include Makefile
include mkdocs.yml
include README.md
include requirements-dev.txt
include requirements.txt
include tox.ini
include watson.completion
include watson.zsh-completion

recursive-include docs *.css *.gif *.md *.png *.svg
recursive-include scripts *
recursive-include tests *.py resources/*

recursive-exclude tests *.pyc
